{% if count.all > 0 %}
<div class="flex justify-between p-4 border-b border-l border-r border-gray-500 text-sm font-[500]">
    <div class="flex flex-row content-center gap-2">
        <button
            class="px-2 py-1 border-black border {% if current_tab == 'all' %}bg-gray-700 text-white border-gray-800{% else %}hover:bg-gray-700 hover:text-white hover:border-gray-800{% endif %} rounded-sm"
            hx-get="/todos" hx-include="#get-all-todos" hx-target="#todo-list" hx-swap="innerHTML">
            All:{{count.all}}
        </button>
        <button
            class="px-2 py-1 border-black border {% if current_tab == 'active' %}bg-gray-700 text-white border-gray-800{% else %}hover:bg-gray-700 hover:text-white hover:border-gray-800{% endif %} rounded-sm"
            hx-get="/todos" hx-include="#get-active-todos" hx-target="#todo-list" hx-swap="innerHTML">
            Active:{{count.active }}
        </button>
        <button
            class="px-2 py-1 border-black border {% if current_tab == 'completed' %}bg-gray-700 text-white border-gray-800{% else %}hover:bg-gray-700 hover:text-white hover:border-gray-800{% endif %} rounded-sm"
            hx-get="/todos" hx-include="#get-completed-todos" hx-target="#todo-list" hx-swap="innerHTML">
            Completed:{{count.completed}}
        </button>
    </div>

    <div class="flex">
        {% if count.completed > 0 %}
        <button class="px-2 py-1 border-black border hover:bg-red-600 hover:text-white hover:border-red-600 rounded-sm"
            hx-delete="/todos/completed" hx-target="#todo-list" hx-swap="innerHTML" hx-select-oob="#toggle-complete-all"
            hx-indicator="#loading-screen">
            Delete Completed
        </button>
        {% endif %}
    </div>

    <input id="get-all-todos" type="hidden" name="count" value="all">
    <input id="get-active-todos" type="hidden" name="count" value="active">
    <input id="get-completed-todos" type="hidden" name="count" value="completed">
</div>
{% endif %}